<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    <meta-data
        android:name="com.google.android.gms.ads.AD_MANAGER_APP"
        android:value="true"/>


        <activity
            android:name=".Admin.activityConcoursAdmin"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Admin.activityStatistiques"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Admin.activityConcourAdminAjout"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Admin.activityChoixConcoursStatistiques"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Admin.activityConcourAdminModif"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Admin.activityGestionNbQuestionEtReponse"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Admin.activityConcoursFini"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".User.activityAccueil"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Admin.activityAdherentAdmin"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Admin.activityFestivalAdmin"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Admin.activityAccueilAdmin"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".User.activityQuestion"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".User.activityClassement"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".User.activityScore"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>